<% layout('layouts/boilerplate.ejs')-%>
<body>
    <h3>List in Detail:</h3>
    <ul>
        <li><%=list.title%></li>
        <li><%=list.description%></li>
        <li>&#8377;<%=list.price.toLocaleString('en-IN')%></li>
        <li><%=list.location%></li>
        <li><%=list.country%></li>
    </ul>
    <a href="/listing/<%=list.id%>/edit">Edit</a>
    <form method="post" action="/listing/<%=list.id%>?_method=Delete">
        <button>Delete</button>
    </form>
</body>