<% layout('layouts/boilerplate.ejs')-%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h3>List in Detail</h3>
            <div class="card">
                <img class="card-img-top" src="<%=list.image%>" alt="listing image">
                <div class="card-body">
                    <h5 class="card-title mt-2 mb-0"><%=list.title%></h5>
                    <p class="card-text mb-0"><%=list.description%></p>
                    <ul class="listing-item">
                        <li class="listing-item-price">&#8377;<%=list.price.toLocaleString('en-IN')%>/night</li>
                        <li class="listing-item-location"><%=list.location%></li>
                        <li class="listing-item-country"><%=list.country%></li>
                    </ul>
                    <div class="row">
                        <div class="col-1 mt-3">
                            <form method="get" action="http://localhost:8080/listing/<%=list.id%>/edit">
                                <button class=" btn btn-dark add-btn">Edit</button>
                            </form>
                        </div>
                        <div class="col-4 mt-3">
                            <form method="post" action="/listing/<%=list.id%>?_method=Delete">
                                <button class=" btn btn-dark delete-btn">Delete</button>
                            </form>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
    
</body>